doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Talk
        link(rel='stylesheet' href='css/style.css')
    body 
        .wrapper
            .user-container
                span#nickname= nickname
                span#colorPalette W
            .display-container
                ul.chatting-list
            .input-container
                span
                    input.chatting-input(type='text')
                    button.send-button 전송
script(src='../socket.io/socket.io.js')
script(src="../js/chat.js")