ul[class*="list16"]{
    grid-template-columns: repeat(4,1fr);
}
li[class^="list16"]{
    width: 100px;
    height: 100px;
    color:var(--white);
}
.list16_0{
    background-position-x: 0px;
    background-position-y: 0px;
}
.list16_1{
    background-position-x: -100px;
    background-position-y: 0px;
}
.list16_2{
    background-position-x: -200px;
    background-position-y: 0px;
}
.list16_3{
    background-position-x: -300px;
    background-position-y: 0px;
}
.list16_4{
    background-position-x: 0px;
    background-position-y: -100px;
}
.list16_5{
    background-position-x: -100px;
    background-position-y: -100px;
}
.list16_6{
    background-position-x: -200px;
    background-position-y: -100px;
}
.list16_7{
    background-position-x: -300px;
    background-position-y: -100px;
}
.list16_8{
    background-position-x: 0px;
    background-position-y: -200px;
}
.list16_9{
    background-position-x: -100px;
    background-position-y: -200px;
}
.list16_10{
    background-position-x: -200px;
    background-position-y: -200px;
}
.list16_11{
    background-position-x: -300px;
    background-position-y: -200px;
}
.list16_12{
    background-position-x: 0px;
    background-position-y: -300px;
}
.list16_13{
    background-position-x: -100px;
    background-position-y: -300px;
}
.list16_14{
    background-position-x: -200px;
    background-position-y: -300px;
}
.list16_15{
    background-position-x: -300px;
    background-position-y: -300px;
}
